<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Todo 앱</title>
  </head>
  <body>
    <h1>Todo 목록</h1>

    <ul id="todo-list">
      <% for (const todo of todoList) { %> <input type="checkbox"
      name="complete" id="todo-<%= todo.id %>" <%= todo.complete ? 'checked' :
      '' %> >
      <input
        tpye="text"
        name="contents"
        id="content-<%= todo.id %>"
        value="<%= todo.content %>"
        readonly
      />
      <br />
      <% } %>
    </ul>

    <input
      type="text"
      name="content"
      id="content"
      placeholder="새로운 할 일 추가"
    />
    <button type="button" id="addBtn">추가</button>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const addBtn = document.getElementById("addBtn");
      addBtn.addEventListener("click", () => {
        const content = document.getElementById("content").value;
        axios
          .post("/todo", { content: content })
          .then((data) => {
            axios.get("/todo").then((result) => {
              const data = result.data;
              console.log(data);
              const elTodo = document.getElementById("todo-list");
              elTodo.innerHTML = "";

              for (todo of data) {
                const listItem = document.createElement("li");
                listItem.style = "list-style-type: none;";

                const checkbox = document.createElement("input");
                checkbox.type = "checkbox";
                checkbox.id = `todo-${todo.id}`;
                checkbox.checked = todo.completed;

                const label = document.createElement("label");
                label.for = `content-${todo.id}`;
                label.textContent = todo.content;

                const deleteButton = document.createElement("button");
                deleteButton.textContent = "삭제";
                deleteButton.onclick = () => {
                  console.log("삭제");
                };

                listItem.appendChild(checkbox);
                listItem.appendChild(label);
                listItem.appendChild(deleteButton);
                elTodo.appendChild(listItem);
              }
            });
          })
          .catch((err) => {
            console.log("AXIOS ERROR!");
          });
      });
    </script>
  </body>
</html>
